<p><%= "Product name: #{@toy[:name]}" %></p>
<p><%= "Product id: #{@toy[:id]}" %></p>
<p><%= "Quantity: #{@toy[:quantity]}" %></p>

<br>
<a href="/toys/<%= @i %>/edit">[Edit product]</a>
<a href="/toys/<%= @i %>/delete">[Delete]</a>
<a href="/toys">[Index]</a>

<!-- <br>
<a href="/contacts/<%= @i %>/edit">[Edit]</a>
<a href="/contacts/<%= @i %>/delete">[Delete]</a>
<a href="/contacts">[Index]</a> -->
